# Ignore everything
*

# But not these files...
!*.cpp
!*.h
!*.hpp
!*.py
!*.txt
!*.tfrecords
!*.mnist
!.gitignore
!*.pro
!*.pdf
!lb.py
!*ckpt*
!*tfevents*
!*checkpoint*
!*.bin

# ...even if they are in subdirectories
!*/
